.bar{
	background-color: CadetBlue;
	margin: 1px;
	text-align: right;
	padding:3px;
}

.chart rect {
  fill: steelblue;
}

.chart rect:hover{
	fill: #316189;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

#verticalSvgBarChart text {
	fill: black;
}

#verticalSvgBarChart .innerChart .barText {
	fill: white;
	display: none;
}
